@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    font-family: 'Roboto', sans-serif;
    width: 100%;
    min-width: 1366px;
    background-image: url("bg_img.png");
    background-size: cover;
    background-repeat: no-repeat;
}
header{
    background-color: rgba(0,0,0,0.4);
}
.header{
    height: 58px;
    list-style: none;
    display: flex;
    position: relative;
}
.last_link_header{
    text-decoration: none;
    color: white;
}

.header_part{
    padding-top: 18px;
}
.header_part_one{
    position: absolute;
    left: 79px;
}
.header_part_two{
    position: absolute;
    left: 940px;
}
.header_part_three{
    position: absolute;
    left: 988px;
}
.header_part_four{
    position: absolute;
    left: 1035px;
}
.header_part_five{
    position: absolute;
    left: 1111px;
    top: 3px;
}
.header_link{
    text-decoration: none;
    color: white;
}
.header_svg{
    fill: #FFFFFF;
}
.header_svg:hover{
    fill: #3CB878;
    transition-duration:0.5s;
}
.header_link:hover{
    color: #3CB878;
    transition-duration: 0.5s;
}
.header_title {
    font-size: 20px;
    font-weight: 700;
}
main{
    display: flex;
    justify-content: center;
}
.main{
    margin-top: 53px;
    width: 444px;
    height: 584px;
    background: white;
}
.main_nav_top{
    padding-top: 29px;
    display: flex;
    list-style: none;
    position: relative;
}
.flex_part{
    text-decoration: none;
    color: #434343;
}
.flex_part_two{
    position: absolute;
    left: 61px;
    font-size:20px ;
    font-weight: 400;
}
.flex_part_three{
    position: absolute;
    left: 346px;
    top:33px;
    font-size: 14px;
    font-weight:400 ;
    color: #3CB878;
}
.flex_part_three:hover{
    text-decoration: underline;
    color: #01813F;
    transition-duration: 0.5s;
}
.btn{
    width:160px ;
    height:48px ;
    border-radius: 3px;
    margin-top: 31px;
    position: relative;
}
.facebook_btn{
    background-color: #305DB8;
    margin-left: 40px;
}
.facebook_btn:hover{
    background: #022263;
    transition-duration: 1s;
}
.facebook_logo{
    position: absolute;
    top: 12px;
    left: 16px;
}
.facebook_text{
    position: absolute;
    color: white;
    text-decoration: none;
    top: 15px;
    left: 67px;
}
.google_btn{
    margin-left: 8px;
    background-color: #DF4A32;
}

.google_btn:hover{
    background: #AB1F09;
    transition-duration: 1s;
}
.google_logo{
    position: absolute;
    top: 15px;
    left: 12px;
}
.button_line{
    position: absolute;
    background: #0A162F;
    border-color: #0A162F;
    opacity: 0.1;
    width: 1px;
    height: 28px;
    top: 2px;
    left: 48px;
}
.google_text{
    position: absolute;
    color: white;
    text-decoration: none;
    top: 15px;
    left: 80px;
}
.border_line{
    display: flex;
}
.border_line:nth-child(2){
    color: #848484;
}
.line{
    justify-self: center;
    margin-top: 25px;
    height: 0;
    width: 152px;
    border: 1px solid #F2F2F2;
    background: #F2F2F2 ;
}
.left_line{
    margin-left: 55px;
}
.right_line{
    margin-right: 55px;
}
.input_table{
    margin-left: 55px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.log_in_form{
    text-indent: 20px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    width: 322px;
    height: 44px;
    outline: none;
}
.log_in_form::-moz-placeholder { color: #BEBEBE; }
.log_in_form::-webkit-input-placeholder { color: #BEBEBE; }
.log_in_form:focus{
    color: #434343;
    background: #FFFFFF;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
}
.checkbox_container{
    display: flex;
    margin-left: 5px;
    position: relative;
    color: #434343;
}
.checkbox {
    width: 20px;
    height: 20px;
    position: absolute;
}
.checkbox_text_first{
    position: absolute;
    left: 28px;
}
.checkbox_terms{
    text-decoration: none;
    color:#3CB878 ;
    position: absolute;
    left: 135px;
}
.checkbox_terms:hover{
    color: #01813F;
    text-decoration: underline;
    transition-duration: 0.5s;
}
.footer{
    margin-top: 20px;
    margin-left: 4px;
}
.last_btn{
    width: 324px;
    height: 46px;
    background: rgba(60, 184, 120, 0.8);
    font-size: 16px;
    font-weight: 400;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.last_btn:hover{
    background: #01813F;
    transition-duration: 1s;
}
.last_btn_content{
    text-decoration: none;
    color: white;
}
